<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.article"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity
            android:name=".presentation.listarticle.ListArticleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Article" />
    </application>
</manifest>